<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskflow editando tarefa</title>
</head>
<body>
    <header>
        <h1>Editando tarefa</h1>
    </header>
    <form action="{{url_for('tarefa.editar_tarefa', id_tarefa=id_tarefa, coluna = coluna)}}" method="POST">
        <label for="{{coluna}}">{{coluna}}</label>
        <input type="text" name="{{coluna}}" id="{{coluna}}" placeholder="Editando {{coluna}}" required>
        <button type="submit">Confirmar</button>

    </form>
</body>
</html>