<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>TaskFlow</title>
</head>
<body>
    <header>
    <h1>TaskFlow</h1>
    <p>Gerencie suas tarefas e resposabilidades com muito mais facilidade</p>
    </header>
    <main>
        <section>
            <p>Comece agora</p>
            <p>Crie uma conta gratuitamente ou se já possui uma, acesse no link abaixo</p>
            <a href="/auth/cadastro">Cadastrar-se</a>
            <a href="/auth/login">Entrar</a>
        </section>
    </main>
    <footer>
         <p>TaskFlow &copy; 2026</p>
    </footer>
</body>
</html>