<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>TaskFlow - Login</title>
</head>
<body>
    <header>
        <h1>TaskFlow</h1>
    </header>
    <main>
        <h2>Login</h2>
        <form action="/auth/login" method="POST">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="Insira seu E-mail" required>
            
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="Insira sua Senha" required>

            <button type="submit">Entrar</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <ul class="flashes">
                {% for categoria, message in messages %}
                <li class="flash-{{ categoria|lower }}">
                    {{message}}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <p>Ainda não tem uma conta?<a href="{{url_for('auth.cadastrar_usuario')}}"> Cadastrar-se</a></p>
    </main>
    <footer>
        <p>TaskFlow &copy; 2026</p>
    </footer>
</body>
</html>