<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlow</title>
</head>
<body>
    <header>
        <h1>Sair da conta</h1>
    </header>
    <form action="{{url_for('usuario.sair')}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="password">password</label>
    <input type="password" name="password" id="password" placeholder="Informe sua senha" required>
    <button type="submit">Sair</button>
    </form>
</body>
</html>