<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>TaskFlow - perfil</title>
</head>
<body>
    <head>
        <h1>Perfil de usuario</h1>
    </head>
    <main>
        <p>Nome:    {{dados_do_perfil['name']}}</p>
        <p>E-mail:  {{dados_do_perfil['gmail']}}</p>
    </main>
    <footer>
        TaskFlow &copy; 2026
    </footer>
</body>
</html>