<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlow tarefas</title>
</head>
<body>
    <header>
        <h1>Tarefas do usuario</h1>
    </header>
    <main>
        {% if tarefas %}
            {% for tarefa in tarefas %}
                <p>Nome: {{tarefa['name']}} - <a href="{{url_for('tarefa.editar_tarefa', id_tarefa=tarefa['id'], coluna = 'name')}}">Atualizar nome</a></p>
                <p>Descrição: {{tarefa['description']}} - <a href="{{url_for('tarefa.editar_tarefa', id_tarefa=tarefa['id'], coluna = 'description')}}">Atualizar descrição</a></p>
                <p>Status: {{tarefa['status']}} - 
                    <form action="{{url_for('tarefa.editar_tarefa', id_tarefa=tarefa['id'], coluna = 'status')}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <select name="status" id="status" onchange="this.form.submit()">
                            <option value="pendente" {% if tarefa['status'] == 'pendente' %}selected{% endif %}>Pendente</option>
                            <option value="concluida" {% if tarefa['status'] == 'concluida' %}selected{% endif %}>Concluir tarefa</option>
                        </select>
                    </form>
                </p>
                <form action="{{url_for('tarefa.deletar_tarefa', id_tarefa=tarefa['id'])}}" method="POST" onsubmit="return confirm('Deseja deletar essa tarefa?')">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <label for="password">senha</label>
                    <input type="password" name="password" id="password" placeholder="Insira sua senha" required>
                    <button type="submit">Deletar</button>
                </form>
                <hr>
            {% endfor %}
        {% else %}
            <p>Você não possui tarefas ativas no momento</p>
        {% endif %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <ul class="flashes">
                {% for categoria, message in messages %}
                <li class="flash-{{ categoria|lower }}">
                    {{message}}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <a href="/tarefa/criar">Criar tarefas</a>
    </main>
</body>
</html>